<div class="container">
  <div class="row">
    {{#link-to 'index' tagName='h1'}}
      IronNotes
    {{/link-to}}
    {{partial 'navigation'}}
  </div>
  <div class="row">
    {{outlet}}
  </div>
</div>
